<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843203750991-85lc701g5uof9a19sdv55al5dsv97b60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843203750991-85lc701g5uof9a19sdv55al5dsv97b60</string>
	<key>API_KEY</key>
	<string>AIzaSyADk1_Fdd7ytzxrds9EQmrR-AG97pXFoF8</string>
	<key>GCM_SENDER_ID</key>
	<string>843203750991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.testproject</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-e088c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-e088c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843203750991:ios:208b8c2c729860eaa78e3a</string>
</dict>
</plist>